input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    width: 300px;
}

input[type="password"]:focus{
    border-color: #007bff;
    outline: none;
}

li{
    margin-bottom: 20px;
    list-style: none;
}

.submit-btn{
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover{
    background-color: #0056b3;
}

main{
    text-align: center;
}