<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change-password</title>
    <link rel="stylesheet" href="../static/css/change-password.css">
</head>

<body>
    <!-- ヘッダーの読み込み -->
    <div id="header" data-user-name="{{ user.name }}"></div>

    <main>
        <h1>パスワードの変更</h1>
        <form action="" method="post">
            <ul>
                <li>
                    <label for="current-pw">現在のパスワード</label>
                    <input type="password" id="current-pw">
                </li>
                <li>
                    <label for="new-pw">新しいパスワード</label>
                    <input type="password" id="new-pw">
                </li>
                <li>
                    <label for="confirm-pw">パスワードの確認</label>
                    <input type="password" id="confirm-pw">
                </li>
                <li>
                    <button type="submit" class="submit-btn">パスワードを変更する</button>
                </li>
            </ul>
        </form>
    </main>
    <script src="../static/js/header-fetch.js"></script>
</body>

</html>