<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名前の変更</title>
    <link rel="stylesheet" href="../static/css/change-password.css">

</head>

<body>
    <!-- ヘッダーの読み込み -->
    <div id="header" data-user-name="{{ user.name }}"></div>

    <main>
        <h1>名前の変更</h1>
        <form action="/change-name" method="post">
            <ul>
                <li>
                    <label for="new-name">新しい名前</label>
                    <input type="text" id="new-name" name="new_name" placeholder="新しい名前を入力" required
                        style="border: 1px solid #ccc; border-radius: 4px; background-color: #fff; padding: 10px; width: 300px;">
                </li>
                <li>
                    <button type="submit" class="submit-btn">名前を保存する</button>
                </li>
            </ul>
        </form>
    </main>

    <script src="../static/js/header-fetch.js"></script>
</body>

</html>