<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="js-button" class="menu-icon">&#9776;</div>

        <nav id="js-nav" class="nav-menu">
            <ul><a href="#">ホーム</a></ul>
            <ul><a href="#">設定</a></ul>
        </nav>

        <script src="../static/js/dashboard_script.js"></script>
    </header>

</body>
</html>