<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="landing-box">
        <h1>ICT教育コースマイページ</h1>
        <div class="button">
            <form action="{{url_for('login')}}">
                <input type="submit" value="ログイン">
            </form>
        </div>
        <div class="button">
            <form action="{{url_for('signup')}}">
                <input type="submit" value="新規登録">
            </form>
        </div>
    </div>
</body>

</html>