<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="login_style.css">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>ICT教育コース掲示板</h2>
            <form action="" method="post"> <!-- ここにサーバーのリンク先を代入してほしい -->
                <div class="input-box">
                    <input type="text" name="student_id" placeholder="学籍番号">
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="パスワード">
                </div>
                <button type="submit">ログイン</button>
                <br>
                <a href="reset.html">パスワードを忘れた場合はこちら</a>
                <br>
                <a href="signup.html">新規登録はこちら</a>
            </form>
        </div>
    </div>
</body>

</html>