<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
</head>
<body>
    <h1>ログインページ</h1>
    <form action="{{url_for('login')}}" method="POST">
        <div>
           <label for="student_id">学籍番号</label>
            <input type="text" name="student_id" required> 
        </div>
        
        <div>
            <label for="password">パスワード</label>
            <input type="password" name="password" required>
        </div>
        
        <div>
            <input type="submit" value="ログイン">
        </div>
        
    </form>

    <form action="{{url_for('signup')}}">
        <input type="submit" value="サインアップ">
    </form>
</body>
</html>